
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'leaflet/dist/leaflet.css';

body {
  @apply bg-background text-secondary;
}

.hero-bg {
  background-image: url('https://source.unsplash.com/featured/?nature,water');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slick-prev,
.slick-next {
  width: 40px !important;
  height: 40px !important;
  z-index: 2 !important;
  color: #2c7a7b !important; /* Couleur primaire définie dans ton thème */
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px !important;
  color: #2c7a7b !important; /* Couleur primaire définie dans ton thème */
}

.slick-prev:hover:before,
.slick-next:hover:before {
  color: #e53e3e !important; /* Couleur accent définie dans ton thème */
}

.slick-prev {
  left: -50px !important; /* Ajuste la position pour que les flèches soient bien visibles */
}

.slick-next {
  right: -50px !important; /* Ajuste la position pour que les flèches soient bien visibles */
}
